<div style="display: flex;">
<div cdkDropList 
#firstList="cdkDropList"
  [cdkDropListData]="numbers"
(cdkDropListDropped)="drop($event)"
[cdkDropListConnectedTo]="otherList"
 class="drop-list-container red-border">
  <div cdkDrag *ngFor="let number of numbers" class="item">{{number}}</div>
</div>
<div cdkDropList
#otherList="cdkDropList"
  [cdkDropListData]="otherNumbers"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="firstList"
   class="drop-list-container blue-border">
  <div cdkDrag *ngFor="let number of otherNumbers" class="item">{{number}}</div>
</div>
</div>

<router-outlet></router-outlet>
