$drag-list-bg-color: #ccc;

.item {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0.2, 0, 0, 1);
  }

  .drop-list-container.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
    transition: transform 200ms cubic-bezier(0.2, 0, 0, 1);
  }

  .item:last-child {
      border-bottom-width: 0;
  }

  .drop-list-container.cdk-drop-list-dragging {
      background-color: lighten( $drag-list-bg-color, 10% );
  }

.drop-list-container {
    width: 25%;
    background-color: $drag-list-bg-color;
    margin: 10px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.red-border {
    border: 1px solid #ccc;
}

.blue-border {
    border: 1px solid #ccc;
}